[submodule "desknero/electronero-gui"]
	path = desknero/electronero-gui
	url = https://github.com/electronero-project/electronero-gui
[submodule "desknero/litenero-gui"]
	path = desknero/litenero-gui
	url = https://github.com/litenero-project/litenero-gui
[submodule "desknero/goldnero-gui"]
	path = desknero/goldnero-gui
	url = https://github.com/goldnero-project/goldnero-gui
[submodule "desknero/pulse-gui"]
	path = desknero/pulse-gui
	url = https://github.com/electronero-pulse/pulse-gui
[submodule "neroexplorer/Electronero-Pulse-Blockchain-Explorer"]
	path = neroexplorer/Electronero-Pulse-Blockchain-Explorer
	url = https://github.com/electronero/Electronero-Pulse-Blockchain-Explorer
[submodule "neroexplorer/Electronero-Blockchain-Explorer"]
	path = neroexplorer/Electronero-Blockchain-Explorer
	url = https://github.com/electronero-project/Electronero-Blockchain-Explorer
[submodule "neroexplorer/Goldnero-Blockchain-Explorer"]
	path = neroexplorer/Goldnero-Blockchain-Explorer
	url = https://github.com/goldnero-project/Goldnero-Blockchain-Explorer
[submodule "neroexplorer/Litenero-Blockchain-Explorer"]
	path = neroexplorer/Litenero-Blockchain-Explorer
	url = https://github.com/litenero-project/Electronero-Blockchain-Explorer
[submodule "coins/electronero"]
	path = coins/electronero
	url = https://github.com/electronero/electronero/
	branch = release
[submodule "coins/litenero"]
	path = coins/litenero
	url = https://github.com/litenero/litenero
[submodule "coins/goldnero"]
	path = coins/goldnero
	url = https://github.com/goldnero/goldnero
[submodule "coins/electroneropulse"]
	path = coins/electroneropulse
	url = https://github.com/electronero-pulse/electroneropulse
[submodule "electronero-passport/nero-php"]
	path = electronero-passport/nero-php
	url = https://github.com/electronero-project/nero-php
[submodule "webnero/electronero.github.io"]
	path = webnero/electronero.github.io
	url = https://github.com/electronero-project/electronero.github.io
[submodule "webnero/litenero.github.io"]
	path = webnero/litenero.github.io
	url = https://github.com/litenero-project/litenero.github.io
[submodule "webnero/goldnero.github.io"]
	path = webnero/goldnero.github.io
	url = https://github.com/goldnero-project/goldnero.github.io
[submodule "webnero/electroneropulse.github.io"]
	path = webnero/electroneropulse.github.io
	url = https://github.com/electronero-pulse/electroneropulse.github.io
