[submodule "external/unbound"]
	path = external/unbound
	url = https://github.com/electronero/unbound
	branch = monero
[submodule "external/miniupnp"]
	path = external/miniupnp
	url = https://github.com/electronero/miniupnp
	branch = monero
[submodule "external/rapidjson"]
	path = external/rapidjson
	url = https://github.com/electronero/rapidjson
